.inl-bl
  vertical-align: top
  display: inline-block
.left-content
  width: 660px
  margin-right: 115px
.with_border
  border: 1px solid #e4e4e4
  border-radius: 3px
  outline: none
.with_shadow
  -webkit-box-shadow: inset 0px 1px 10px -5px rgba(50, 50, 50, 0.5)
  -moz-box-shadow:    inset 0px 1px 10px -5px rgba(50, 50, 50, 0.5)
  box-shadow:         inset 0px 1px 10px -5px rgba(50, 50, 50, 0.5)
.white-gradient
  background: #ffffff /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fbfbfb)) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#fbfbfb 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#fbfbfb 100%) /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#fbfbfb 100%) /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#fbfbfb 100%) /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbfbfb',GradientType=0 ) /* IE6-9 */
.button-font
  font-family: 'PT sans'
  font-size: 13px
  color: #fefefe
  text-align: center
  line-height: 48px
  text-transform: uppercase
  text-shadow: 0px 1px 2px rgba(145, 63, 15, 1)
  cursor: pointer
  &:hover
    color: #fefefe
    border: none
.post
  margin: 45px 0
  font-family: 'PT sans'
  .title
    font-size: 22px
    color: #3b3e43
    margin-bottom: 30px
  .question, .answer
    font-size: 14px
    color: #a7aaaf
    line-height: 20px
  .answer
    margin: 25px 0 10px 40px
    border-left: 2px solid #e74a30
    padding-left: 10px
  .read-all
    display: block
    height: 20px
    font-family: 'PT Sans Bold'
    font-size: 13px
    color: #a7aaaf
    text-transform: uppercase
    border: none
    margin-left: 520px
    &:hover
      text-decoration: underline
    img
      vertical-align: middle


#content-container
  position: relative
  width: 1020px
  margin: auto
  margin-top: 54px
  font-family: 'PT Sans'
  font-size: 0px

  h1
    font-size: 28px
    color: #3b3e43
    margin: 0 0 45px 0

  h2
    font-size: 18px
    color: #3b3e43
    margin: 0 0 40px 0

  .text
    font-family: 'PT sans'
    font-size: 16px
    color: #3b3e43
    line-height: 22px

  #right-block
    right: 0
    width: 245px
    #cart
      box-sizing: border-box
      width: 100%
      height: 90px
      border: 1px solid #e4e4e4
      border-top: 3px solid #fe6517
      border-radius: 2px
      img
        margin: 19px 15px 0 19px
      .cart-link
        margin-top: 17px
        color: #65686d
        font-size: 20px
        a
          color: #65686d
          text-decoration: underline
          border-bottom: none
          font-size: 14px
    #right-menu
      padding: 0
      margin-top: 45px
      li
        list-style-type: none
        &:nth-child(4n)
          margin-bottom: 35px
        a
          color: #3b3e43
          font-size: 16px
          line-height: 34px
          text-decoration: none
          border: none
          &:hover
            text-decoration: underline
        .right-active
          color: #a8a8a8
          padding-left: 10px
          border-left: 2px solid #e74a30
          pointer-events: none
          cursor: default

  .inner-menu
    margin: 60px 0 35px 0
    .menu-item
      border: 1px solid #e4e4e4
      height: 48px
      line-height: 46px
      font-size: 14px
      text-align: center
      color: #65686d
      &:nth-child(1)
        width: 190px
      &:nth-child(2)
        width: 185px
        border-left: none
      &:nth-child(3)
        width: 280px
        border-left: none
      img
        vertical-align: text-top
        margin-right: 8px
    .active
      background: #ffffff
      border-bottom: 0px
      border-top: 2px solid #e74a30

  #pagination-container
    text-align: center
    margin: 70px 0 45px 0
    #pagination
      padding: 0
      li
        a
          display: block
          height: 25px
          width: 25px
          margin-right: 6px
          font-family: 'PT Sans Bold'
          font-size: 13px
          color: #3b3e43
          text-align: center
          line-height: 25px
          padding-left: 2px
          &:hover
            border: 1px solid #e4e4e4
        &:last-child
          margin-right: 0
      .active-page
        a
          background: #e74a30
          color: #ffffff
          cursor: default

  .order
    position: relative
    margin: 40px 0
    .title
      font-family: 'PT Sans Bold'
      font-size: 18px
      color: #3b3e43
      margin-bottom: 15px
    .text
      font-size: 14px
      line-height: 26px
      span
        font-family: 'PT Sans Bold'
    .status, .cancel-button, .repeat-button
      position: absolute
      right: 0
    .status
      top: 0px
      font-family: 'PT Sans Bold'
      font-size: 14px
      line-height: 18px
      text-transform: uppercase
    .done
      color: #06c263
    .no_pay
      color: #e8cb0a
    .rejected
      color: #f30808
    .cancel-button, .repeat-button
      display: block
      height: 48px
      width: 177px
    .cancel-button
      bottom: 60px
      font-size: 16px
      color: #65686d
      text-align: center
      line-height: 46px
      &:hover
        border: 1px solid #e4e4e4
    .repeat-button
      bottom: 0
      background-image: url(../../images/anna/repeat_order_button.png)



